<!DOCTYPE html>
<html>
    <head>
        <meta name= "viewport" content="width=device-width, initial-scale = 1.0">
        <title>ManageLib | Sign Up</title>
        <link rel="stylesheet" href="signupStyle.css">
    </head>
<body>
    <div class="topnav">
        <nav>
            <a href="/" class = "logo"><img src = "/images/logo.png" height= 60></a>
            <a href="/">Books</a>
            <a href="/events">Events</a>
            <a href="/calendar">Calendar</a>
            <button onclick="window.location.href='/login'">Log In</button>
            <button class = "register" onclick="window.location.href='/signup'">Sign Up</button>
        </nav>
    </div>
    <div class="container">
        <h2>Sign Up</h2>
        <form action="/signup" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="name" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
    </div>
</body>
</html>
