/* [-----BEGIN NAVIGATION BAR-----] */
.logo{
    width: 200px;
    cursor:pointer;
}
.logo:hover{
    background-color: transparent;
}
nav{
    z-index: 1;
    position: relative;
    display:flex;
    overflow: hidden;
    background-color: #dfddd9;
    align-items: center;
    padding: 10px 25px;
}
nav li{
    float: left;
    list-style-type: none;
    position: relative;
    border: none;
    padding: 10px 20px;
}
nav li:hover{
    cursor: pointer;
}
nav a{
    cursor:pointer;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
nav a:hover{
    background-color: #c6c5c1;
}
.tabs {
    border-radius: 15px;
}

#search-text{
    width: 297px;
    font-size: 16px;
    border:5 #dfddd9;
    border-radius: 2px;
    height: 52px;
    margin-right: 0;
    color:#000000;
    outline: none;
    background: transparent;
    float: left;
    transition: all 0.2s;
    border-radius: 15px;
}
#search-text:focus{
    background-color: #d7d4ce;
}

nav form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
nav button, input[type=text]{
    width: 100%;
    margin: 0;
    padding: 14px;
}
nav input[type=text]{
    border: 1px solid #ccc;
}
nav button{
    cursor:pointer;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 8px;
    background-color: transparent;
    color: #000000;
    padding: 14px;
}
nav button:hover{
    background-color: #c6c5c1;
}
.login {
	background-color: #f29d15;
	width: 10%;
	right: 10px;
	color: #ffffff;
	position: float;
    margin-left: 7px;
    margin-right: 50px;
    font-weight: bold;
}
.login:hover {
	background-color: #d08714;
}
.signup {
	background-color: #f29d15;
	width: 10%;
	right: 10px;
	color: #ffffff;
	position: float;
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
}

.signup:hover {
	background-color: #d08714;
}
.greeting {
    margin-left:auto
}
.logout {
	background-color: #f29d15;
	width: 10%;
	right: 10px;
	color: #ffffff;
	position: float;
    margin-left: 7px;
    margin-right: 50px;
    font-weight: bold;
}
.logout:hover {
	background-color: #d08714;
}

/* [-----END NAVIGATION BAR-----] */